{% extends 'base_usuario.html' %}
{% block content %}
        <section class="area-login">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h2>Login</h2>
                        <hr>
                        <form action="{% url 'login' %}" method="post" class="form-login">
                            {% csrf_token %}
                            <div class="form-group">
                            <label for="nome_usuario">Nome de usuário:</label>
                            <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" class="form-control" name="senha">
                            </div>
                            <button type="submit" class="btn btn-warning">Enviar</button>
                        </form>
                        <hr>
                        <div class="primeiro-acesso">
                            <p>Primeiro acesso?</p>
                            <p><a href="{% url 'cadastro' %}"><button type="submit" class="btn btn-warning">Cadastre-se</button></a></p>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>
{% endblock %}