{% extends 'base_rotativo.html' %}
{% block content %}

    <section class="area-cadastro">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h3>Tabela de preços</h3>
                    <div class="tabela-cadastro">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Hora avulsa</td>
                                <td>R$ 6,00</td>
                            </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                <td>Diária</td>
                                <td>R$ 25,00</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                <td>Pernoite</td>
                                <td>R$ 20,00</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                <td>Mensalista</td>
                                <td>R$ 180,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h3>Reserve sua vaga</h3>
                    <hr>
                    <div class="form-cadastro">
                        <form action="{% url 'salvar' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                            <label for="data">Data:</label>
                            <input type="date" class="form-control" name="data">
                            </div>
                            <div class="form-group">
                            <label for="hora_entrada">Hora de entrada:</label>
                            <input type="time" class="form-control" name="hora_entrada">
                            </div>
                            <div class="form-group">
                                <label for="hora_saida">Hora de saida:</label>
                                <input type="time" class="form-control" name="hora_saida">
                            </div>
                            <button type="submit" class="btn btn-warning">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

{% endblock %}