<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>Data:</label>
        <input type="date" name="data" value="{{registro.data}}">
        <label>Hora de entrada:</label>
        <input type="time" name="hora_entrada" value="{{registro.hora_entrada}}">
        <label>Hora de saída:</label>
        <input type="time" name="hora_saida" value="{{registro.hora_saida}}">
        <a href="{% url 'listar_rotativo' %}"><button type="submit">Salvar</button></a>
    </form>
</body>
</html>