{% extends 'base_rotativo.html' %}
{% block content %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Data</th>
                            <th scope="col">Hora de Entrada</th>
                            <th scope="col">Hora de Saída</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for reserva in reservas %}
                          <tr>
                            <td>{{reserva.id}}</td>
                            <td>{{reserva.data}}</td>
                            <td>{{reserva.hora_entrada}}</td>
                            <td>{{reserva.hora_saida}}</td>
                            <td>
                              <a href="{% url 'editar' reserva.id %}"><button type="button" class="btn btn-info">Editar</button></a>
                              <a href="{% url 'excluir' reserva.id %}"><button type="button" class="btn btn-info">Excluir</button></a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}